<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.dao.interfaces.TermMapper">
  <resultMap id="BaseResultMap" type="com.system.model.Term">
    <constructor>
      <idArg column="term_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="trem_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    term_id, trem_name
  </sql>
  <select id="selectByExample" parameterType="com.system.model.TermExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from term
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from term
    where term_id = #{term_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from term
    where term_id = #{term_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.system.model.TermExample">
    delete from term
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.system.model.Term">
    insert into term (term_id, trem_name)
    values (#{term_id,jdbcType=INTEGER}, #{trem_name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.system.model.Term">
    insert into term
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="term_id != null">
        term_id,
      </if>
      <if test="trem_name != null">
        trem_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="term_id != null">
        #{term_id,jdbcType=INTEGER},
      </if>
      <if test="trem_name != null">
        #{trem_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.system.model.TermExample" resultType="java.lang.Long">
    select count(*) from term
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update term
    <set>
      <if test="record.term_id != null">
        term_id = #{record.term_id,jdbcType=INTEGER},
      </if>
      <if test="record.trem_name != null">
        trem_name = #{record.trem_name,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update term
    set term_id = #{record.term_id,jdbcType=INTEGER},
      trem_name = #{record.trem_name,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.system.model.Term">
    update term
    <set>
      <if test="trem_name != null">
        trem_name = #{trem_name,jdbcType=VARCHAR},
      </if>
    </set>
    where term_id = #{term_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.system.model.Term">
    update term
    set trem_name = #{trem_name,jdbcType=VARCHAR}
    where term_id = #{term_id,jdbcType=INTEGER}
  </update>
</mapper>